<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <a href="{{ url_for('main.index') }}"><h1>SE2</h1></a>
  <ul>
    {% if g.user %}
    <li><a href="{{ url_for('main.grades', id=g.user['guid']) }}">Grades</a></li>
    <li><a href="{{ url_for('main.courses') }}">Courses</a></li>
    <li><span>{{ g.user['student_number'] }}</span></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
